html {
  -webkit-font-smoothing: antialiased; }

body {
  color:#373737;
  background: #FFF;
  font-family: "futura-pt",sans-serif;
  font-size: 12px;
  font-weight: 800;
  margin: 0;
}
body, ul, li, p, h1, h2, figure, figcaption {
  margin:0;
  padding:0;
  list-style-type:none;
}

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body {
      -webkit-transform: scale(0.7);
      transform: scale(0.7);
      -ms-transform: scale(0.7);
      padding-top: 110%; } }

@font-face {
 font-family: 'Ubuntu-L';
 src: url('Ubuntu-L.ttf');
 font-weight: normal;
 font-style: normal;
}

body.loaded img.me {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
   }

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5); }

  50% {
    -webkit-transform: scale(1.03); }

  80% {
    opacity: 1;
    -webkit-transform: scale(0.95); }

  100% {
    -webkit-transform: scale(1); }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
    -ms-transform: scale(0.5);  }

  50% {
        transform: scale(1.03);
       -ms-transform: scale(1.03); }

  80% {
    opacity: 1;
    transform: scale(0.95);
    -ms-transform: scale(0.95); }

  100% {
    transform: scale(1);
    -ms-transform: scale(1);  }
}


@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg); }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg); }
 }

.container {
  text-transform: uppercase;
  border-radius: 50%;
  height: 200px;
  left: 20%;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  width: 200px; }
  .container .maincaption {
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;

    -webkit-animation: spin 60s infinite linear;
     animation: spin 60s infinite linear;

    -webkit-transform-origin: 0 100%;
     -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
   
    -webkit-transition-delay: 1s;
     transition-delay: 1s;
    
   
    
    
    color: #AAA;
    display: block;
    font-size: 20px;
    height: 130px;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: -30px;
    width: 130px; }
    .loaded .container .maincaption {
      -webkit-transition: opacity 1s ease;
       transition: opacity 1s ease;
      opacity: 1; }
    .container .maincaption span {
      -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      display: block;
      height: 100%;
      margin-left: -10px;
      position: absolute;
      text-align: center;
      top: 0;
      width: 20px; }
  .container:hover .maincaption {
    opacity: 0; }
  .container:hover .cover {
    opacity: 1;
    visibility: visible; }
    .container:hover .cover li {
      width: 200px; }
      .container:hover .cover li.twitter, .container:hover .cover li.linkedin, .container:hover .cover li.work {
        width: 230px; }
      .container:hover .cover li.github {
        width: 218px; }

img.me {
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: .3s;
  -webkit-animation-duration: .3s;
  animation-fill-mode: both;
  animation-delay: .3s;
  animation-duration: .3s;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;

  border-radius: 50%;
  height: 200px;
  left: 50%;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  width: 200px;
  z-index: 99; }

.cover {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border-radius: 50%;
  display: block;
  height: 400px;
  left: 50%;
  list-style: none;
  margin: -200px 0 0 -200px;
  opacity: 0;
  padding-left: 0px;
  position: relative;
  top: 50%;
  visibility: hidden;
  width: 400px;
  z-index: 3; }
  .cover.visible {
    opacity: 1;
    visibility: visible; }
  .cover.fadeout li a {
    opacity: .3; }
  .cover li {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -webkit-transition-property: width, margin, opacity, -webkit-transform;
    -webkit-transition-duration: .4s, .5s, .5s;
    -webkit-transition-timing-function: ease, ease, ease;

    transition-property: width, margin, opacity, transform;
    transition-duration: .4s, .5s, .5s;
    transition-timing-function: ease, ease, ease;

    position: absolute;
    right: 50%;
    top: 160px;
    width: 10px;
    z-index: 1; }

    .cover li a {
      -webkit-transition: opacity .4s ease;
      transition: opacity .4s ease;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 50px;
      background-size: 75px;
      border-radius: 50%;
      color: #555;
      display: block;
      height: 80px;
      text-decoration: none;
      opacity: 1;
      width: 80px;
      z-index: 0; }
      .cover li a:hover {
        opacity: 1; }
        .cover li a:hover .caption {
          opacity: 1; }
      .cover li a .caption {
        -webkit-transition: opacity .5s ease;
        transition: opacity .5s ease;
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
        -webkit-animation: spin 12s infinite linear;
        animation: spin 12s infinite linear;
        height: 50%;
        left: 50%;
        margin-top: -15px;
        opacity: 0;
        padding-bottom: 15px;
        position: absolute;
        top: 0px; }
        .cover li a .caption span {
          -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
          -ms-transform-origin: 50% 100%;
          display: block;
          height: 100%;
          margin-left: -10px;
          position: absolute;
          text-align: center;
          top: 0;
          width: 20px; }
    .cover li:nth-child(1) {
      -webkit-transform: rotate(56deg);
      transform: rotate(56deg);
      -ms-transform: rotate(56deg); }
      .cover li:nth-child(1) a {
        -webkit-transform: rotate(-56deg);
        transform: rotate(-56deg);
        -ms-transform: rotate(-56deg); }
    .cover li.twitter a {
      background-image: url("../images/twitter.svg"); }
    .cover li:nth-child(2) {
      -webkit-transform: rotate(101deg);
      transform: rotate(101deg);
      -ms-transform: rotate(101deg); }
      .cover li:nth-child(2) a {
        -webkit-transform: rotate(-101deg);
        transform: rotate(-101deg);
        -ms-transform: rotate(-101deg); }
    .cover li.linkedin a {
      background-image: url("../images/link.png"); }
    .cover li:nth-child(3) {
      -webkit-transform: rotate(146deg);
      transform: rotate(146deg);
      -ms-transform: rotate(146deg); }
      .cover li:nth-child(3) a {
        -webkit-transform: rotate(-146deg);
        transform: rotate(-146deg); 
        -ms-transform: rotate(-146deg);  }
    .cover li.facebook a {
      background-image: url("../images/fb.png"); }
    .cover li:nth-child(4) {
      -webkit-transform: rotate(191deg);
      transform: rotate(191deg); 
      -ms-transform: rotate(191deg);  }
      .cover li:nth-child(4) a {
        -webkit-transform: rotate(-191deg);
        transform: rotate(-191deg);
        -ms-transform: rotate(-191deg); }
    .cover li.gplus a {
      background-image: url("../images/gplus.png"); }
    .cover li:nth-child(5) {
      -webkit-transform: rotate(236deg);
      transform: rotate(236deg);
      -ms-transform: rotate(236deg); }
      .cover li:nth-child(5) a {
        -webkit-transform: rotate(-236deg);
        transform: rotate(-236deg);
        -ms-transform: rotate(-236deg); }
    .cover li.resume a {
      background-image: url("../images/resume.png"); }
    .cover li:nth-child(6) {
      -webkit-transform: rotate(281deg);
      transform: rotate(281deg);
      -ms-transform: rotate(281deg); }
      .cover li:nth-child(6) a {
        -webkit-transform: rotate(-281deg);
        transform: rotate(-281deg);
        -ms-transform: rotate(-281deg); }
    .cover li.github a {
      background-image: url("../images/github.svg"); }
    .cover li:nth-child(7) {
      -webkit-transform: rotate(326deg);
      transform: rotate(326deg);
      -ms-transform: rotate(326deg); }
      .cover li:nth-child(7) a {
        -webkit-transform: rotate(-326deg);
        transform: rotate(-326deg); 
        -ms-transform: rotate(-326deg);  }
    .cover li.work a {
      background-image: url("../images/work.png"); }
    .cover li:nth-child(8) {
      -webkit-transform: rotate(371deg);
      transform: rotate(371deg);
      -ms-transform: rotate(371deg); }
      .cover li:nth-child(8) a {
        -webkit-transform: rotate(-371deg);
        transform: rotate(-371deg);
        -ms-transform: rotate(-371deg); }
    .cover li.email a {
      background-image: url("../images/email.svg"); }
    .cover li.twitter a {
      background-color: #6dcff6; }
    .cover li.twitter .caption {
      color: #0c8bbe; }
    .cover li.linkedin a {
      background-color: #fff; }
    .cover li.linkedin .caption {
      color: #328ef1; }
    .cover li.facebook a {
      background-color: #fff; }
    .cover li.facebook .caption {
      color: #000; }
    .cover li.gplus a {
      background-color: #fff; }
    .cover li.gplus .caption {
      color: #dd4c39; }
    .cover li.resume a {
      background-color: #31333B; }
    .cover li.resume .caption {
      color: #31333B; }
    .cover li.github a {
      background-color: #CCC; }
    .cover li.github .caption {
      color: gray; }
    .cover li.work a {
      background-color: #add8e6; }
    .cover li.work .caption {
      color: #3a9fc0; }
    .cover li.email a {
      background-color: #fadf2c; }
    .cover li.email .caption {
      color: #8a7803; }
    .cover li:nth-child(0) {
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
    .cover li:nth-child(1) {
      -webkit-transition-delay: 0.04s;
      transition-delay: 0.04s; }
    .cover li:nth-child(2) {
      -webkit-transition-delay: 0.08s; 
      transition-delay: 0.08s;  }
    .cover li:nth-child(3) {
      -webkit-transition-delay: 0.12s; 
      transition-delay: 0.12s; }
    .cover li:nth-child(4) {
      -webkit-transition-delay: 0.16s;
      transition-delay: 0.16s;  }
    .cover li:nth-child(5) {
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s; }
    .cover li:nth-child(6) {
      -webkit-transition-delay: 0.24s; 
       transition-delay: 0.24s; }
    .cover li:nth-child(7) {
      -webkit-transition-delay: 0.28s;
      transition-delay: 0.28s; }
    .cover li:nth-child(8) {
      -webkit-transition-delay: 0.32s;
      transition-delay: 0.32s; }
    .cover li.twitter, .cover li.linkedin, .cover li.work {
      margin-top: -15px; }
      .cover li.twitter a, .cover li.linkedin a, .cover li.work a {
        background-size: 95px;
        padding: 15px; }
    .cover li.github {
      margin-top: -7px;
      padding-left: 100px; }
      .cover li.github a {
        background-size: 90px;
        padding: 9px; }

.char-1 {
  -webkit-transform: rotate(-9.8deg);
  transform: rotate(-9.8deg);
  -ms-transform: rotate(-9.8deg); }

.char0 {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); 
  -ms-transform: rotate(0deg);  }

.char1 {
  -webkit-transform: rotate(9.8deg);
  transform: rotate(9.8deg);
  -ms-transform: rotate(9.8deg);  }


.char2 {
  -webkit-transform: rotate(19.6deg);
  transform: rotate(19.6deg);
  -ms-transform: rotate(19.6deg); }

.char3 {
  -webkit-transform: rotate(29.4deg);
  transform: rotate(29.4deg);
  -ms-transform: rotate(29.4deg); }

.char4 {
  -webkit-transform: rotate(39.2deg);
  -ms-transform: rotate(39.2deg);
  transform: rotate(39.2deg); }

.char5 {
  -webkit-transform: rotate(49deg);
  transform: rotate(49deg);
  -ms-transform: rotate(49deg); }

.char6 {
  -webkit-transform: rotate(58.8deg);
  transform: rotate(58.8deg);
  -ms-transform: rotate(58.8deg); }

.char7 {
  -webkit-transform: rotate(68.6deg);
  transform: rotate(68.6deg); 
  -ms-transform: rotate(68.6deg); }


.char8 {
  -webkit-transform: rotate(78.4deg);
  transform: rotate(78.4deg);
  -ms-transform: rotate(78.4deg); }

.char9 {
  -webkit-transform: rotate(88.2deg);
  transform: rotate(88.2deg);
  -ms-transform: rotate(88.2deg); }

.char10 {
  -webkit-transform: rotate(98deg);
  transform: rotate(98deg);
  -ms-transform: rotate(98deg); }

.char11 {
  -webkit-transform: rotate(107.8deg);
  transform: rotate(107.8deg);
  -ms-transform: rotate(107.8deg); }

.char12 {
  -webkit-transform: rotate(117.6deg);
  transform: rotate(117.6deg);
  -ms-transform: rotate(117.6deg); }

.char13 {
  -webkit-transform: rotate(127.4deg);
  transform: rotate(127.4deg);
  -ms-transform: rotate(127.4deg); }

.char14 {
  -webkit-transform: rotate(137.2deg);
  transform: rotate(137.2deg);
  -ms-transform: rotate(137.2deg); }

.char15 {
  -webkit-transform: rotate(147deg);
  transform: rotate(147deg);
  -ms-transform: rotate(147deg); }

.char16 {
  -webkit-transform: rotate(156.8deg);
  transform: rotate(156.8deg);
  -ms-transform: rotate(156.8deg); }

.char17 {
  -webkit-transform: rotate(166.6deg);
  transform: rotate(166.6deg);
  -ms-transform: rotate(166.6deg); }

.char18 {
  -webkit-transform: rotate(176.4deg);
  transform: rotate(176.4deg);
  -ms-transform: rotate(176.4deg); }

.char19 {
  -webkit-transform: rotate(186.2deg);
  transform: rotate(186.2deg);
  -ms-transform: rotate(186.2deg); }

.char20 {
  -webkit-transform: rotate(196deg);
  transform: rotate(196deg);
  -ms-transform: rotate(196deg); }

.char21 {
  -webkit-transform: rotate(205.8deg);
  transform: rotate(205.8deg);
  -ms-transform: rotate(205.8deg); }

.char22 {
  -webkit-transform: rotate(215.6deg);
  transform: rotate(215.6deg);
  -ms-transform: rotate(215.6deg); }

.char23 {
  -webkit-transform: rotate(225.4deg);
  transform: rotate(225.4deg);
  -ms-transform: rotate(225.4deg); }

.char24 {
  -webkit-transform: rotate(235.2deg);
  transform: rotate(235.2deg);
  -ms-transform: rotate(235.2deg); }

.char25 {
  -webkit-transform: rotate(245.0deg);
  transform: rotate(245.0deg);
  -ms-transform: rotate(245.0deg); }

.char26 {
  -webkit-transform: rotate(254.8deg);
  transform: rotate(254.8deg);
  -ms-transform: rotate(254.8deg); }

.char27 {
  -webkit-transform: rotate(264.6deg);
  transform: rotate(264.6deg);
  -ms-transform: rotate(264.6deg); }

.char28 {
  -webkit-transform: rotate(274.4deg);
  transform: rotate(274.4deg);
  -ms-transform: rotate(274.4deg); }

.char29 {
  -webkit-transform: rotate(284.2deg);
  transform: rotate(284.2deg);
  -ms-transform: rotate(284.2deg); }

.char30 {
  -webkit-transform: rotate(294deg);
  transform: rotate(294deg);
  -ms-transform: rotate(294deg); }

.char31 {
  -webkit-transform: rotate(303.8deg);
  transform: rotate(303.8deg);
  -ms-transform: rotate(303.8deg); }

.char32 {
  -webkit-transform: rotate(313.6deg);
  transform: rotate(313.6deg);
  -ms-transform: rotate(313.6deg); }

.char33 {
  -webkit-transform: rotate(323.4deg);
  transform: rotate(323.4deg);
  -ms-transform: rotate(323.4deg); }

.char34 {
  -webkit-transform: rotate(333.2deg);
  transform: rotate(333.2deg);
  -ms-transform: rotate(333.2deg); }

.char35 {
  -webkit-transform: rotate(343deg);
  transform: rotate(343deg);
  -ms-transform: rotate(343deg); }

.char36 {
  -webkit-transform: rotate(352.8deg);
  transform: rotate(352.8deg);
  -ms-transform: rotate(352.8deg); }

/*  CSS of Right Divisions */


a {
  text-decoration:none;
  color:#373737;
}
a:hover {
  text-decoration:underline;
}
::selection {
 background-color:#373737;
 color:#fff;
}
::-moz-selection {
 background-color:#373737;
 color:#fff;
}
img{
  border:0;
}
img::selection {
 background:transparent;
}
img::-moz-selection {
 background:transparent;
}



#right {
  font-family:'Ubuntu-L';
  width:100%;
  overflow:hidden;
}
#wrapper-nav {

  width:100%;
  height: 60px;
  background: rgba(95, 95, 95, 0.76);
  left:0;
  position:fixed;
  top:0;
  z-index:99;
}
#quick-contact {
  float:left;
  color:#fff;
  line-height:20px;
  font-size: 16px;
  margin-left: 65%;
}
#quick-contact a {
  display: table-cell;
  color:#fff;
  text-decoration:none;
}
#quick-contact a:hover {
  color:#ccc;
}

#quick-contact img {
  opacity: 0.7;
  margin-top: 5px;
  margin-left: 10px;
  /* padding: 5px 0px 5px 10px; */
  height: 40px;
  width: 40px;
}
#quick-contact img:hover {
  opacity: 1;
}


#header {
  margin-left: 48%;
  width:50%;
  margin-top: 10%;
}
#header div.left-colum {
  
  font-size: 14px;
  font-weight: bold;
}

#header div.right-colum {
  float:left;
  width:560px;
  margin-top:20px;
}
#header div.right-colum h1 {
  
  font-size:26px;
  text-shadow:2px 2px white, 1px 1px #373737;
}
#header div.right-colum p {
  
  font-size:17px;
  margin:20px 0;
}


#footer {
  width:100%;
  float:left;
  background:#373737;
  bottom:0;
  position:fixed;
}
#footer .f1 {
  width:980px;
  margin:0 auto;
  color:#f7f7f7;
  padding:10px 0;
  font-size:14px;
  position:relative;
  font-weight: normal;
}
#footer .f1 a {
  color:#f7f7f7;
  font-weight: bold;

}

